<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    
    <nav>
        <a href="/">Accueil</a> - 
        <a href="/about">Qui sommes nous</a> - 
        <a href="/terms">Conditions d'utilisation</a>
    </nav>

    <h1>Homepage</h1>

    <ul>
        <% for (let fruit of fruits_view) { %>
            <li><%= fruit %></li>
        <% } %>
    </ul>

</body>
</html>